main {
  background-image:url('images/0.jpg');
  }

.hwish {
    font-family: Pacifico;
    text-align: center;
    font-size: 3.5rem;
    color: #FF00E4;
    padding: 2%;
}

.pwish {
    font-family: Pacifico;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin: 2%;
    padding: 2%;
}

body {
  background-color: #9B0000;
}

.but {

  color: red;
  text-decoration: none;
  font-size: 3rem;
  font-family: Satisfy;
  border-color: pink;
  border-radius: 0;
  background-color: rgba(250,50,60,0.5);
}

.center {
  position: fixed;
  top: 50%;
  right: 50%;
  text-align: center;
}

.white {
  color: #fff;
}
